body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #EEEEEE;
}

a {
    text-decoration: none;
}


/*Navegador principal*/

.hed-inicio {
    width: 100%;
    height: 80px;
    background: #4F8A8B;
    padding: 0px 20px;
    border-bottom: #30475E solid 2px;
    display: flex;
    justify-content: space-around;
}

.hed-inicio .cont-menu {
    height: 100%;
}

.hed-inicio .cont-menu #nav-principal {
    height: 100%;
}

nav>ul {
    height: 100%;
    display: flex;
}

nav ul li {
    height: 100%;
    list-style: none;
    position: relative;
}

nav>ul>li>a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: #000;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
}

nav>ul>li>a:hover {
    transform: scale(1.1);
}

nav>ul>li .a-element-nav {
    padding-left: 100px;
}

.a-logo img {
    width: 150px;
}

.cont-buscador {
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-buscador {
    position: relative;
    height: 30px;
    border-radius: 30px;
    width: 100%;
    padding: 18px;
    font-size: 16px;
    color: #000;
    outline: none;
    border: 1px solid silver;
}

.btn-lupa {
    position: relative;
    background: #FBD46D;
    right: 6%;
    width: 50px;
    height: 50px;
    line-height: 55px;
    text-align: center;
    font-size: 20px;
    border-radius: 50%;
}

.btn-lupa a i {
    color: #000;
}

.btn-lupa:hover {
    transform: scale(1.1);
}

.cont-inicio {
    height: 100%;
    width: 370px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cont-inicio .a-element-nav {
    color: #000;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
}

.a-element-nav i {
    font-size: 30px;
    padding-left: 100px;
}

.a-element-nav:hover {
    transform: scale(1.1);
}

.a-element-nav i:hover {
    transform: scale(1.1);
}


/*Submenu*/

nav ul li ul {
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #EEEEEE;
    position: absolute;
    top: 90px;
    left: 90px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    z-index: 10;
    transition: all 300ms ease;
}

nav ul li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 70px;
}

nav ul li ul::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #EEEEEE;
    position: absolute;
    top: -12px;
    left: 20px;
}

nav ul li ul li a {
    display: block;
    color: #000;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300mx ease;
}

nav ul li ul li a:hover {
    background: #FBD46D;
    transform: scale(1.1);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}


/*Footer*/

footer {
    margin-top: 20px;
    background-color: #222831;
    border-top: #203239 solid 4px;
    color: white;
    padding-top: 10px;
    width: 100%;
    bottom: 0;
}

.cont-footer {
    padding-bottom: 10px;
}

.cont-element-footer {
    padding-top: 10px;
}

footer .cont-barra-footer {
    background-color: #FBD46D;
    color: #000;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

footer .logo-footer {
    width: 100%;
}

footer a {
    color: white;
}

footer .redes {
    font-size: 30px;
    display: flex;
}

footer .redes a {
    margin: 0 7.5px;
}

.cont-row {
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
}

.cont-columna {
    padding-right: 15px;
    padding-left: 15px;
}

.cont-columna-redes {
    padding-right: 15px;
    padding-left: 15px;
    margin: 25px;
}

.cont-columna .contactos {
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.columna .contactos a {
    margin: 0 7.5px;
}


/* Body */

.cont-cuerpo-pagina {
    width: 90%;
    display: flex;
    margin-bottom: 580px;
}

.mensaje-pago {
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    margin-top: 40px;
}

.cuadro-retiro {
    display: flex;
    flex-direction: column;
    width: 250%;
    height: 11cm;
    border: #30475E solid 2px;
    border-radius: 10px;
    margin-left: 40px;
    margin-top: 40px;
}

.opcion-entrega {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.retirar-sucursal {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: #30475E solid 2px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 2%;
}

.servicio-express {
    border: #30475E solid 2px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 2%;
}

.cont-informacion-express {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cont-direccion {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 11.5%;
    margin-top: 20px;
}

.cont-direccion input {
    border: 2px solid #30475E;
    font-size: 18px;
    width: 100%;
    padding: 5px 0px;
    margin: 5px 0px;
    border-radius: 5px;
}

.cont-direccion input:hover {
    border: 2px solid #FBD46D;
}

.mensaje-opcionEntrega {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 10px;
}

.btn-opcionFavorita {
    margin-left: 50px;
    height: 20px;
    width: 20px;
}

.mensaje-retirar-puntos {
    margin-left: 50px;
}

.precio-servicio-express {
    margin-left: 50px;
}

.punto-retiro {
    margin-left: 50px;
}

.mensaje-servicio-express {
    margin-left: 50px;
}

.precio-servicio-express {
    margin-left: 50px;
}

.cuadro-precio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 5.5cm;
    border: #30475E solid 2px;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 40px;
}

.subtotal {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 15px;
}

.monto-subtotal {
    font-size: 20x;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 15px;
}

.btn-procederPago {
    align-items: center;
    height: 30px;
    width: 180px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid #FBD46D;
    background: #FBD46D;
    color: #000;
    font-weight: bold;
    font-size: 14px;
    border-radius: 35px;
    margin-bottom: 15px;
}

.btn-procederPago:hover {
    background: #f9ca24;
    cursor: pointer;
}

.mensaje-pedido {
    margin-top: 10px;
}

.mensaje-opcionEntrega {
    color: #000;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 15px;
}

.cuadro-retiro h2 {
    font-size: 18px;
}

.cuadro-precio h2 {
    font-size: 18px;
}

.cuadro-retiro select {
    border: 2px solid #30475E;
    font-size: 18px;
    width: 100%;
    padding: 5px 0px;
    margin: 5px 0px;
    border-radius: 5px;
}

.cuadro-retiro select:hover {
    border: 2px solid #FBD46D;
    cursor: pointer;
}

.mensaje-tiempoEntrega {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 300px;
}

.mensaje-retirar-sucursal {
    margin-right: 510px;
}

.precio {
    margin-bottom: 10px;
}

.cont-boton input {
    cursor: pointer;
}